body {
  background: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
/*menu header*/
header li {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
h3 {
  margin-bottom: 8px;
}
img {
  display: block;
  max-width: 100%;
  min-width: 264px;
}
.container-header,
.container-address,
.container-contakts,
.container-nav,
.container-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-nav {
  border-bottom: 1px solid #e7e9fc;
}
.container-header {
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 76px;
}

.logo-stud {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 24px;
  margin-left: 0;
  margin-bottom: 24px;
}
.container-menu {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  gap: 40px;
  margin-right: 0;
}
.menu-studio {
  position: relative;
  display: block;
}
.menu-studio:active ::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  color: #404bbf;
}
.container-menu-items {
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.container-menu-items:hover {
  color: #404bbf;
}
/* .container-menu-items:active {
  color: #404bbf;
} */
.container-menu-items:focus {
  color: #404bbf;
}

.container-address {
  font-style: normal;
}
.container-contakts {
  margin-left: 332px;
  gap: 40px;
}
.container-contakts-items {
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.container-contakts-items:hover {
  color: #404bbf;
}
.container-contakts-items:focus {
  color: #404bbf;
}
/*conteiner-title*/
.section-title {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.container-title-button {
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  /* Button Text */
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
}
.container-title-button:hover {
  background-color: #404bbf;
}
.container-title-button:focus {
  background-color: #404bbf;
}
.main-content-text {
  display: flex;
  gap: 24px;
}
.main-content-text-items {
  width: calc((100% - 3 * 24px) / 4);
}
.container-list-port {
  flex-wrap: wrap;
  column-gap: 24px;
  margin-top: 72px;
  row-gap: 48px;
}
.container-list-items {
  width: calc((100% - 2 * 24px) / 3);
}
.container-text-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.container-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-team-desc {
  background: #f4f4fd;
}
.container-title-two {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.container-list {
  gap: 24px;

  text-align: center;
}
.container-team-items {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}
.container-list-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.logo-two {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-stud-two {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-desc {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  width: 264px;
}
.section {
  padding: 120px 0;
}
.container-content-text {
  padding: 32px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
